.bh-npm-highlight {
  padding: 1em;
  border-radius: 4px;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: auto;
}
